<div class="m-content">
    <div class="row">
        <div class="col-md-3">
            <div>
                bring the category grid
                <!-- <category-tree [agentId]="projectAgentService.selectedAgent.id" [selectionMode]="'single'" (selectNode)="onSelectCategory($event)"
                        (unselectNode)="onUnselectCategory($event)"></category-tree> -->
            </div>
        </div>
        <div class="col-md-9">
            <mcapp-web-panel header="Q&A">
                <div>bring qna grid</div>
                <qna-grid (searchLazyLoad)="onLoadGrid($event);" (reloadGrid)="onLoadGrid($event);" [totals]="dataGridConfig.totals" [enableLazyLoad]="true"
                    [qnAs]="qnAsGrid"></qna-grid>
            </mcapp-web-panel>
            <mcapp-web-panel header="Q&A CRUD">
                <qna-form></qna-form>
            </mcapp-web-panel>
        </div>
    </div>
</div>