<app-layout>
    <app-header></app-header>
    <app-main-content>
        <app-content-left>

            <!-- CATEGORY SCREEN-->
            <ng-container *ngIf="selectedCategory.id === 0 || selectedCategory.id === undefined">
                <button (click)="toggle()" class="btn m-btn m-btn--gradient-from-primary m-btn--gradient-to-focus">
                    Go Full Screen
                </button>
                <ul class="innobot-tabs">
                    <li class="innobot-tabs-item" [ngClass]="{'active-tab': (selectedTab === 'category')}" (click)="tabClick('category')">
                        <span>Category</span>
                    </li>
                    <li class="innobot-tabs-item" [ngClass]="{'active-tab': (selectedTab === 'commonQuestions')}" (click)="tabClick('commonQuestions')">
                        <span>Common Questions</span>
                    </li>
                </ul>                                                              
                <div *ngIf="selectedTab === 'category'">
                    <category-tree [agentId]="agentId" [selectionMode]="'single'" (selectNode)="onSelectCategory($event)" (unselectNode)="onUnselectCategory($event)"></category-tree>
                </div>
                <div *ngIf="selectedTab === 'commonQuestions'">
                    Most Common Questions
                </div>
            </ng-container>

            <!-- QNA LIST SCREEN-->
            <ng-container *ngIf=" (selectedCategory.id  > 0 || selectedCategory.id === -1) && (selectedQnA.id === 0 || isFullScreen === true)">
               <breadcrumbs *ngIf="!isFullScreen" [selectedCategory]="selectedCategory"></breadcrumbs>
                <button (click)="toggle()" class="btn m-btn m-btn--gradient-from-primary m-btn--gradient-to-focus">
                    Toggle Full Screen
                </button>
                <button (click)="onUnselectCategory($event)" class="btn m-btn m-btn--gradient-from-primary m-btn--gradient-to-focus">
                    Go back
                </button>
                <qna-grid (selectQnA)="onSelectQnA($event)" (unselectQnA)="onUnselectQnA($event)" (searchLazyLoad)="onLoadGrid($event);"
                    (reloadGrid)="onLoadGrid($event);" [totals]="dataGridConfig.totals" [enableLazyLoad]="true" [qnAs]="qnAsGrid">
                </qna-grid>
                <div *ngIf="!openQnAForm">
                    <button (click)="createQnA();" class="btn m-btn m-btn--gradient-from-primary m-btn--gradient-to-focus">
                        <i class="la la-plus"></i>Add Q&A
                    </button>
                </div>
            </ng-container>

            <!-- QNA DETAIL -->
            <ng-container *ngIf="(!isFullScreen && (selectedQnA.id  > 0 || selectedQnA.id === -1))">
                    <breadcrumbs  [selectedCategory]="selectedCategory"></breadcrumbs>
                <button (click)="toggle()" class="btn m-btn m-btn--gradient-from-primary m-btn--gradient-to-focus">
                    Toggle Full Screen
                </button>
                
                <qna-detail (delete)="deleteQnA()" (unselectQnA)="onUnselectQnA($event)" (edit)="editQnA()" [model]="selectedQnA"></qna-detail>
            </ng-container>
        </app-content-left>
        <app-content-right *ngIf="isFullScreen">
            <div *ngIf="selectedQnA === undefined">
                no content!
            </div>
            <!-- CATEGORY FORM -->
            <div *ngIf="openCategoryForm">
                <!-- <category-form [model]="category" (save)="onCategorySaved($event)" (cancel)="onCancelCategory()"></category-form> -->
            </div>
            <!-- QNA DETAIL -->
            <div *ngIf="showDetailsQnA && selectedQnA.id  > 0 ">
                    <breadcrumbs  [selectedCategory]="selectedCategory"></breadcrumbs>
                <qna-detail (delete)="deleteQnA()" (edit)="editQnA()" [model]="selectedQnA"></qna-detail>
            </div>
            <!-- QNA FORM -->
            <div *ngIf="openQnAForm">
                    <breadcrumbs  [selectedCategory]="selectedCategory"></breadcrumbs>
                <qna-form [model]="selectedQnA" (save)="onSaveQnA()" (cancel)="onCancelQnA()"></qna-form>
            </div>
        </app-content-right>
    </app-main-content>
</app-layout>