.innobot-faq{
    width: 380px;
    border-right: solid 1px #ebedf2;
    height: 100%;
}
.innobot-faq-header{
    height: 50px;
    display:flex;
    border-bottom: solid 1px #ebedf2;
    justify-content:space-between;
    align-items: center;
    h4{
        padding: 15px;
    }
    .innobot-faq-actions{
        padding: 15px;
    }
}

.innobot-qna-detail-row{
    display:flex;
    margin-bottom: 10px;
    .innobot-qna-detail-left{
        width: 40px;
        flex-basis: 40px;
        flex-grow: 0;
        flex-shrink: 0;
        box-sizing: border-box;
    }
}

.innobot-qna-title{
    font-size:12px;
    color:#a32020;
}

.innobot-qna-detal-body{
    font-size:11px;
    color:#4A4A4A;
    font-weight: 400;
    p{
        margin-bottom: 15px;
    }
    ul{
        margin-left: 20px;
        margin-bottom: 15px;
    }
}

// tabs
.innobot-tabs {
    margin: 0px;
    padding: 0px;
    display:flex; 
    height: 40px;      
    .innobot-tabs-item {
        list-style: none;
        text-transform: uppercase;
        flex: 1;
        text-align: center;
        display:flex;
        justify-content: center;
        align-items: center;
        box-sizing: content-box;
        font-size: 11px;
        font-weight: 500;
        &:hover{
            color: #A32020;
            cursor: pointer;
        }
        &.active-tab{
            border-bottom: 3px solid red;
            color: #A32020;
        }
    }
}