//COLORS
$border-color: #ebedf2;


//MAIN CONTAINER
$border-radius: 15px;

//SIDEBAR NAVBAR
$sidebar-navbar-width: 70px;
$sidebar-navbar-bg: #fafafa;


// FLOAT STYLE
$float-style-container-height: 700px;
$bubble-btn-width: 70px;
$bubble-btn-height: 70px;
$bubble-btn-bg: linear-gradient(106deg, #f4516c, #ffb822);
$bubble-btn-color: white;

//POP UP STYLE
$popup-container-width: 1200px;
$popup-container-height: 800px;

//CHATBOX
$chatbox-width: 375px;
$chatbox-bot-message-bg: #f5f7f9;
$chatbox-user-message-bg: #a32020;
$chatbox-user-message-color: white;
$chatbox-bot-message-color: #34495e;
$chatbox-avatar-size: 36px;