<div *ngIf="model">
    <mcapp-web-dialog header="{{ model.id ? (model.parentId? l('EditSubCategory') : l('EditRootCategory')) : (model.parentId? l('AddSubCategory') : l('AddRootCategory')) }}" [(visible)]="active" (onHide)="onCancel();" [responsive]="true" showEffect="fade"
        [modal]="true" [width]="650" [draggable]="true">
        <form novalidate (ngSubmit)="save()" [formGroup]="formValidation">          
                <div class="form-group">
                    <label>{{l("CategoryName")}}</label>
                    <input class="form-control" type="text" name="name" [(ngModel)]="model.name" 
                    formControlName="Name" [fieldValidate]="validate" [formFieldValidation]="formValidation.controls.Name">                      
                </div>           
        </form>
        <mcapp-web-footer>
            <button [disabled]="saving" McAppButton type="button" state="secondary" (click)="onCancel();">
                <i class="la la-close"></i>{{l("Cancel")}}
            </button>
            <button [disabled]="formValidation.invalid" McAppButton type="button" state="primary" (click)="onSave()" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                <i class="la la-save"></i>{{l("Save")}}
            </button>
        </mcapp-web-footer>
    </mcapp-web-dialog>
</div>