<form novalidate>
    <div class="form-group">
        <label>Category Name</label>
        <input class="form-control" type="text" name="name" [(ngModel)]="category.name" >
    </div>
</form>
<mcapp-web-footer>
    <button [disabled]="saving"  class="innobot-btn innobot-btn-secondary" type="button" state="secondary" (click)="onCancel();">
        <i class="la la-close"></i>Cancel
    </button>
    <button  class="innobot-btn innobot-btn-primary-gradient" type="button" state="primary" (click)="onSave()">
        <i class="la la-save"></i>Save
    </button>
</mcapp-web-footer>