<div class="p-3 my-2">
    <app-search-box (onSearch)="onSearch($event)" [value]="searchValue" placeholder="Search category"></app-search-box>
</div>
<mcapp-web-tree [value]="categoryTree" [selectionMode]="selectionMode" [(selection)]="selectedFiles" (onNodeSelect)="nodeSelect($event)"
    (onNodeUnselect)="nodeUnselect($event)" [propagateSelectionDown]="false" [contextMenu]="cm" (onNodeContextMenuSelect)="contextSelect($event)"></mcapp-web-tree>        
<mcapp-web-contextMenu appendTo="body" #cm [model]="items" ></mcapp-web-contextMenu>
