<div class="row align-items-center m-form m-form--label-align-right m--margin-bottom-30">
    <div class="col">
        <div class="form-group m-form__group align-items-center">
            <app-search-box (onSearch)="onSearch($event)" [value]="dataGridConfig.filter"></app-search-box>
        </div>
    </div>

</div>

<div class="primeng-data-style">
    <mcapp-web-dataList [value]="qnAs" [totalRecords]="dataGridConfig.totals" [rows]="dataGridConfig.take" [rowsPerPageOptions]="dataGridConfig.rowsPerPage"
        [lazy]="true" (onLazyLoad)="onChange($event)" [paginator]="true" >
            <ng-template pTemplate="body" let-rowData >
                    <tr >
                             <td (click)="getDetails(rowData);" >
                            <div *ngFor="let question of rowData.questions">
                                <span  style="color: orangered" *ngIf="question.isPrimary === true">
                                    {{question.question}}
                                </span>
                            </div>
                            <div >
                                    <span style="color: chartreuse">
                                      <div [innerHtml]="rowData.answer | safehtml"></div>
                                    </span>
                                </div>
                        </td>
                   
                </tr>
            </ng-template>

        
    </mcapp-web-dataList>
</div>