<div class="row align-items-center m-form m-form--label-align-right m--margin-bottom-30">
    <div class="col">
        <div class="form-group m-form__group align-items-center">
            <app-search-box (onSearch)="onSearch($event)" [value]="dataGridConfig.filter"></app-search-box>
        </div>
    </div>

</div>

<div class="primeng-data-style">
    <mcapp-web-dataList [value]="qnAs" [totalRecords]="dataGridConfig.totals" [rows]="dataGridConfig.take" [rowsPerPageOptions]="dataGridConfig.rowsPerPage"
        [lazy]="true" (onLazyLoad)="onChange($event)" [paginator]="true">
        <ng-template pTemplate="body" let-rowData>
                <div className="innobot-faq-list">
                <div (click)="getDetails(rowData);">
                    <div class="innobot-faq-item">
                        <div class="innobot-faq-body">

                            <div *ngFor="let question of rowData.questions">
                                <h6 class="innobot-faq-question" style="color:orange"  *ngIf="question.isPrimary === true">
                                    {{question.question}}</h6>

                            </div>


                            <div class="innobot-faq-anwser">
                                <div style="color:gray" [innerHtml]="rowData.answer  | striphtml |  slice:0:300  " ></div>
                            </div>
                            <div class="innobot-faq-arrow">
                                <i class="fa fa-chevron-right" aria-hidden="true" ></i>
                            </div>

                        </div>
                        </div>
                    </div>
                </div>
         
        </ng-template>


    </mcapp-web-dataList>
    </div>